body {
  background: #f8f9fb;
}

html, body, ul, ol, li, form, fieldset, legend, img {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

fieldset, img {
  border: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "redressedregular";
  src: url("../../public/font/Redressed-webfont.eot");
  src: url("../../public/font/Redressed-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/font/Redressed-webfont.woff") format("woff"), url("../../public/font/Redressed-webfont.ttf") format("truetype"), url("../../public/font/Redressed-webfont.svg#redressedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "desyrelregular";
  src: url("../../public/font/desyrel-webfont.eot");
  src: url("../../public/font/desyrel-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/font/desyrel-webfont.woff") format("woff"), url("../../public/font/desyrel-webfont.ttf") format("truetype"), url("../../public/font/desyrel-webfont.svg#desyrelregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
a {
  color: #ffd000;
}

.wide {
  width: 100%;
  border: none;
}

#index-body {
  font-family: arial;
}
#index-body .index-header-title {
  font-size: 3em;
}
#index-body #index-button-tbs {
  font-size: 1.5em;
}
#index-body .index-footer {
  font-size: 1.3em;
}

#resto-body .resto-header-title {
  font-size: 3em;
}
#resto-body .resto-header-title {
  text-align: center;
}
#resto-body .resto-1-header-title, #resto-body .resto-1-footer-stamp {
  font-family: redressedregular;
}
#resto-body #resto-1 {
  font-family: desyrelregular;
}
#resto-body #resto-1 .resto-1-service {
  font-size: 1.7em;
}
#resto-body #resto-1 .item .price {
  font-size: 1.3em;
}

.sign {
  margin-left: 10px;
  font-size: 2em;
}

.index-button-tbs {
  display: flex;
  margin: 50px auto 150px auto;
  width: 250px;
  height: 50px;
  background-color: #25887c;
  color: #ffd000;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.index-button-tbs .btn {
  position: absolute;
  font-size: 1.5em;
  align-self: center;
  left: 25px;
}
.index-button-tbs .btn__firstdot {
  opacity: 0;
  animation: soon 7s infinite;
}
.index-button-tbs .btn__seconddot {
  opacity: 0;
  animation: soon 7s 300ms infinite;
}
.index-button-tbs .btn__thirddot {
  opacity: 0;
  animation: soon 7s 600ms infinite;
}

@keyframes soon {
  0%, 10%, 30%, 50%, 70%, 90% {
    opacity: 0;
  }
  20%, 40%, 60%, 80%, 100% {
    opacity: 1;
  }
}
#index-header {
  background-color: #25887c;
  color: #ffd000;
}
#index-header .index-header-title {
  padding: 25px 0px;
  text-align: center;
}

.index-footer {
  background-color: #25887c;
  color: #ffd000;
}
.index-footer:after {
  content: "";
  display: block;
  clear: both;
}

.ontop {
  position: fixed;
  left: 0;
  bottom: -76px;
}

.index-ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.index-legals, .index-contact {
  padding: 25px 15px;
  width: 100%;
}
.index-legals:hover, .index-contact:hover {
  animation: wiggle 820ms;
}
@media screen and (max-width: 1023px) {
  .index-legals, .index-contact {
    padding: 15px 10px;
  }
}

.index-contact {
  text-align: right;
}

@keyframes wiggle {
  10%, 90% {
    transform: translateX(-2px);
  }
  20%, 80% {
    transform: translateX(4px);
  }
  30%, 50%, 70% {
    transform: translateX(-8px);
  }
  40%, 60% {
    transform: translateX(8px);
  }
}
.index-gallery {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1023px) {
  .index-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.index-gallery a {
  width: 320px;
  height: auto;
  margin: 0 50px 50px 0;
  text-align: center;
  overflow: hidden;
  box-shadow: 1px 1px 10px 5px lightgrey;
}
@media screen and (max-width: 1023px) {
  .index-gallery a {
    margin: 0 0 50px 0;
  }
}
.index-gallery .index-cover {
  max-width: 320px;
  transition: all 500ms;
}
.index-gallery .index-cover--animated:hover {
  transform: scale(1.3);
  opacity: 0.5;
}

.logo {
  width: 2em;
  height: 100%;
}

.clipart {
  width: 7em;
  height: 100%;
}

.resto-choix {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .resto-choix {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.service {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .service {
    display: flex;
    flex-direction: column;
  }
}
.service--animated {
  cursor: pointer;
}
.service--animated:hover + .h_bar {
  transform: scaleX(1);
}

.h_bar {
  margin-bottom: 25px;
  width: 100%;
  height: 3px;
  border-radius: 50%;
  background-color: goldenrod;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 300ms ease-out;
}

.resto-container {
  width: 640px;
  margin-top: 25px;
  margin-bottom: 125px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 10px 5px lightgrey;
  padding: 35px 70px;
  box-sizing: content-box;
  width: 60%;
}

.resto-1-container {
  background-color: #f5c7c7c7;
}

.resto-2-container {
  background-color: #f0c7f53d;
}

.resto-3-container {
  background-color: #ebebeb;
}

.resto-footer-stamp {
  margin-top: 50px;
  text-align: center;
}

.resto-1-footer-stamp {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
