
//Localisation = sass/components/buttons
// Feuille de style pour le bouton "Prochainement..."

.button{
	display: flex;
	margin: 50px auto 150px auto;
	width: 250px;
	height: 50px;
	@include grafik1;
	border-radius: 10px;
	position: relative;
	cursor: pointer;

	.tbs{
		position: absolute;
		align-self: center;
		left:25px;

		// Effet des points de suspensions animés au chargement de la page d'accueil
		// Période: 7s - retard cumulé de 300ms par point - Boucle infinie
		&__firstdot--animated{
			opacity: 0;
			animation: soon 7s infinite;
		}

		&__seconddot--animated{
			opacity: 0;
			animation: soon 7s 300ms infinite;
		}

		&__thirddot--animated{
			opacity: 0;
			animation: soon 7s 600ms infinite;
		}

	}
}

// Définition de l'animation des points de suspensions animés
@keyframes soon{
	0%,10%,30%,50%,70%,90%{
		opacity: 0;
	}

	20%,40%,60%,80%,100%{
		opacity: 1;
	}
}