
//Localisation = sass/base/base
// Feuille de style commune

.logo{
	width: 2em;
	height:100%;
}

.clipart{
	width: 7em;
	height: 100%;
}

.wide{
    width: 100%;
    border:none;
}
