
//Localisation = sass/base/typography
// Feuille de style pour la typographie sur l'ensemble du site

a{
    color: map-get($omf-palette, omf-yellow);
}

.hcenter{
    text-align: center;
}

// Typographie appliquée à l'ensemble de la page d'accueil
#main{
    font-family: map-get($omf-font-family, omf-index-default);

    .top-banner__title{
        font-size: map-get($omf-font-size, omf-index-title);
    }

    // Typographie appliquée à "La note enchantée"
    .cover__lne p, .cover__lne .logo{
        font-size: map-get($omf-font-size, omf-cover-title);
        color:black;
        &:nth-child(2){
            font-family: map-get($omf-font-family, omf-resto-1-title);
        }
        &:nth-child(3){
            font-family: map-get($omf-font-family, omf-cover-1-menulabel);
        }
    }

    // Typographie appliquée à "Le chic à la française"
    .cover__lcf p{
        font-size: map-get($omf-font-size, omf-cover-title);
        &:nth-child(1){
            font-family: map-get($omf-font-family, omf-resto-2-title);
            @include firsthue;
        }
        &:nth-child(2){
            font-family: map-get($omf-font-family, omf-cover-2-menulabel);
            color: map-get($omf-palette, omf-brown);
        }
    }

    // Typographie appliquée à "Le délice des papilles"
    .cover__ldp p{
        font-size: map-get($omf-font-size, omf-cover-title);
        color: map-get($omf-palette, omf-blue);
        &:nth-child(1){
            font-family: map-get($omf-font-family, omf-resto-3-title);
        }
        &:nth-child(2){
            font-family: map-get($omf-font-family, omf-cover-3-menulabel);
        }
    }

    // Typographie appliquée à "La palette du goût"
    .cover__lpg p{
        font-size: map-get($omf-font-size, omf-cover-title);
        color: map-get($omf-palette, omf-green);
        &:nth-child(1){
            font-family: map-get($omf-font-family, omf-resto-4-title);
            @include secondhue;
        }
        &:nth-child(2){
            font-family: map-get($omf-font-family, omf-cover-4-menulabel);
        }
    }

    // Typographie appliquée au bouton "Prochainement..."
    .button{
        font-size: map-get($omf-font-size, omf-index-button-content);
    }

    // Typographie appliquée aux boutons "Mentions légales" et "Contactez-nous" 
    .bottom-banner{
        font-size: map-get($omf-font-size, omf-index-subtitle);
    }
}

// Typographie appliquée à l'ensemble des menus
#main__resto{
    .resto__title-fontsize{    
        font-size: map-get($omf-font-size, omf-resto-title);
    }

    // Typographie appliquée à l'ensemble au menu "La note enchantée"
    .resto-lne__title-font{
        font-family: map-get($omf-font-family, omf-resto-1-title);
    }

    #resto-lne{
        font-family: map-get($omf-font-family, omf-resto-1-service);

        .resto-lne__service-fontsize{
            font-size: map-get($omf-font-size, omf-resto-service);
        }
        .item .price{
            font-size: map-get($omf-font-size, omf-resto-itemandprice);
        }
    }

    // Typographie appliquée à l'ensemble au menu "Le chic à la française"
    .container__resto-lcf{
        @include firsthue;

        .resto-lcf__title-font{
            font-family: map-get($omf-font-family, omf-resto-2-title);
        }

        .resto-lcf__color-starter{
            color: map-get($omf-palette, omf-brown);
        }
        .resto-lcf__color-maincourse{
            color: map-get($omf-palette, omf-darkpurple);
        }
        .resto-lcf__color-dessert{
            color: map-get($omf-palette, omf-lightpurple);
        }
    }

    // Typographie appliquée à l'ensemble au menu "Le délice des papilles"

    .resto-ldp__title-font{
        font-family: map-get($omf-font-family, omf-resto-3-title);
    }

    #resto-ldp{
        font-family: map-get($omf-font-family, omf-resto-3-service);

        .resto-ldp__service-fontsize{
            font-size: map-get($omf-font-size, omf-resto-service);
        }
        .item .price{
            font-size: map-get($omf-font-size, omf-resto-itemandprice);
        }
    }

    .container__resto-ldp h1{
        color: map-get($omf-palette, omf-blue);
    }

    // Typographie appliquée à l'ensemble au menu "La palette du goût"
    #resto-lpg{
        font-family: map-get($omf-font-family, omf-resto-4-service);

        .resto-lpg__service-fontsize{
            font-size: map-get($omf-font-size, omf-resto-service);
        }
        .item .price{
            font-size: map-get($omf-font-size, omf-resto-itemandprice);
        }
    }

    .container__resto-lpg{
        @include secondhue;
    }

    .resto-lpg__title-font{
        font-family: map-get($omf-font-family, omf-resto-4-title);
    }  
}

// Typographie appliquée à la signature des restaurants
.sign_text{
    margin-left: 10px;
    font-size: map-get($omf-font-size, omf-resto-sign);
}