.hcenter{
    text-align: center;
}

#index-body{
    font-family: map-get($omf-font-family, omf-index-default);

    .index-header-title{
        font-size: map-get($omf-font-size, omf-index-title);
    }

    #index-button-tbs{
        font-size: map-get($omf-font-size, omf-index-button-content);
    }

    .index-footer{
        font-size: map-get($omf-font-size, omf-index-subtitle);
    }
}


#resto-body{
    .resto_title-fontsize{    
        font-size: map-get($omf-font-size, omf-resto-title);
    }

    .resto-1_title-font{
        font-family: map-get($omf-font-family, omf-resto-1-title);
    }

    #resto-1{
        font-family: map-get($omf-font-family, omf-resto-1-service);

        .resto-1-service{
            font-size: map-get($omf-font-size, omf-resto-service);
        }
        .item .price{
            font-size: map-get($omf-font-size, omf-resto-itemandprice);
        }
    }
}

.sign_text{
    margin-left: 10px;
    font-size: map-get($omf-font-size, omf-resto-sign);
}