// Implémentation charte graphique du site
@mixin grafik1 {
  background-color: map-get($omf-palette, omf-green);
	color: map-get($omf-palette, omf-yellow);
}

@mixin clearfix{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

// Implémentation Responsive
@mixin mobile-only {
  @media screen and(max-width: map-get($breakpoints, mobile)){
    @content;
  }
}

// Implémentation des ombres sur les couvertures et les menus
@mixin box-shadow {
  box-shadow: 1px 1px 10px 5px lightgrey;
}

// Mise en pages du cadre des menus
@mixin container-background-style {
  width: 640px;
	margin-top: 25px;
	margin-bottom: 125px;
	margin-left: auto;
	margin-right: auto;
}

// Implémentation de la nuance pour "Le chic à la française"
@mixin firsthue {
  .firsthue-start{
    color:map-get($omf-palette, omf-firsthue-start);
  }
  .firsthue-end{
      color:map-get($omf-palette, omf-firsthue-end);
  }
}

// Implémentation de la nuance pour "La palette du goût"
@mixin secondhue {
  .secondhue-start{
    color:map-get($omf-palette, omf-secondhue-start);
  }
  .secondhue-end{
      color:map-get($omf-palette, omf-secondhue-end);
  }
}